.titleCard {
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 5px;
}

.section {
  background-color: antiquewhite;
}

.navbar {
  background-color: antiquewhite;
}

.bodyTextContainer {
  display: flex;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}
